
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

body {
  margin: 0;
  padding: 75px;
  max-width: 1600px;
  margin: 0 auto;
  display: block;
  color: #1a1a1a;
}

.container {
  background-color: #ffffff !important;
  padding: 0 !important;
}

.content {
  width: 100%;
}

ul {
  padding-left: 0;
}

.AppHeader {
  height: 150px;
  color: #1a1a1a;
}

.AppTitle {
  font-size: 2.4em;
  text-transform: uppercase;
  display: inline-block;
  line-height: 0em;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #2f363d;
}

.AppMenu {
  display: inline-block;
   float: right;
   vertical-align: middle;
   padding: 20px 0;
}

.AppMenu ul, .PaintingMenu ul {
    list-style-type: none;
  }

.AppMenu li {
  display: inline;
  padding: 10px 25px;
 
}

.AppMenu li:last-of-type {
  padding-right: 0px;
}

.AppMenu li a {
  text-decoration: none;
  color: #A8A8A8;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.11em;
}

.AppMenu li a.active {
  color: #00CED1;
}

.PaintingMenu {
  display: block;
  vertical-align: bottom;
  position: relative;
  margin-top: 70px;
  z-index: 9;
}

.PaintingMenu ul {
  margin: 0 auto;
  display: block;
  max-width: 810px;
  vertical-align: bottom;
}

.PaintingMenu li {
  display: inline;
  padding: 10px 40px;
}

.PaintingMenu li a {
  text-decoration: none;
  color: #A8A8A8;
  text-transform: uppercase;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: 0.2em;
}

.PaintingMenu li a.active {
  color: #00CED1;
}


.gallery {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.gallery-container, #about-container, .contact-form {
  padding-top: 60px;
}


/* About Page */
#about, .aboutImg, #imgContainer {
  display: inline-block;
}

.aboutImg {
  width: 260px;
  width: 100%;
}

#imgContainer {
  width: 27%;
}
 
#about {
  width: 60%;
}

#about {
  padding: 0 20px 20px 40px;
  vertical-align: top;
}

#about h2, .contact-form h2 {
  text-transform: uppercase;
  color: #404040;
  font-size: 1.4em;
}

.link {
  color: #00CED1;
}

#about p {
  color: #656567;
  font-weight: 100;
  line-height: 1.4em;
  font-size: .9em;
}

#about h2 {
  margin-top: 0;
}

#about p, #about h2 {
  text-align: left;
}


/* Responsive Menu */
.burger-menu,
.burger-menu.open {
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 40px;
  z-index: 9999;
  background: #fff;
  padding: 10px;
  border-radius: 25px;
  display: none;
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: rgb(0, 0, 77);
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

.popup-content {
  border: 0 !important;
  padding: 20px !important;
}
.menu ul {
  list-style-type: none;
  padding-left: 0;
}
.menu ul li a {
  text-decoration: none;
  font-family: 'Roboto', arial, sans-serif;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 3.4em;
  color: #555555;
}

.menu ul li a:hover {
  cursor: pointer;
}


/* Contact Form */
.contact-form {
  max-width: 420px;
  margin: 0 auto;
}

p {
  text-align: center;
  font-weight: 500;
}

input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #00CED1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #06999c;
}

input:focus, textarea:focus {
  outline: #00CED1 auto 3px !important;
}

.success  {
  margin: 20px 0;
  border: 1px solid #82E0AA;
  padding: 7px;
  font-weight: bold;
}

.error {
  margin: 20px 0;
  border: 1px solid #E74C3C;
  padding: 7px;
  font-weight: bold;
}

/* Media Queries */
@media only screen and (max-width: 920px) {

  .PaintingMenu li a {
    letter-spacing: 0.1em;
    font-size: 0.9em;
  }

  .PaintingMenu li {
    padding: 10px;
  }

  .PaintingMenu ul {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  body {
    padding: 35px !important;
  }
  .burger-menu,
  .burger-menu.open {
    display: inline-block;
  }
  .AppMenu {
    display: none;
  }
  
  #imgContainer {
    display: none;
  }
   #about {
    padding-top: 40px;
    padding-left: 0;
    width: 70%;
    margin: 0 auto;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .PaintingMenu {
    margin-top: 40px;
  }

  .PaintingMenu li {
    display: block;
    padding: 8px;
  }

  .PaintingMenu li a {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 480px) {
  #about {
    width: 92%;
    padding-left: 0;
  }

  .contact-form h2 {
    margin-top: 60px;
  }

  .AppTitle {
    font-size: 1.6em;
    padding-top: 4px;
  }

 .menu ul li a {
    font-size: 1.8em !important;
  }
  body {
    padding: 10px;
    margin: 0 auto;
  }
}
